/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  text-align: center;
}

.collage-container {
  margin-top: 30px;
}

/* Container for buttons */
.layout-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.layout-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
